# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Logs
logs
*.log

# Env
.env
.env.*
!.env.example

# Build outputs
.next
out
dist
build

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
.vercel
.env*.local
